<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="vimeoAPI" type="VimeoAPI.VimeoConfiguration, VimeoAPI, Version=1.0.0.0, Culture=neutral" />
  </configSections>

  <vimeoAPI consumerKey=""
            consumerSecret=""
            oauthToken=""
            oauthSecret="" />

</configuration>